* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Commissioner', sans-serif;
}

.container {
    max-width: 80%;
    margin: 0px auto;

}

button {
    padding: 10px 20px;
    border-radius: 25px;
    border: 2px solid orange;
    cursor: pointer;
}

/* header */
header {
    background-image: url("./images/hero.jpg");
    background-size: cover;
    background-position: center center;
    height: 715px;
}

header::before{
    content: " ";
    position: absolute;
    width: 100%;
    height: 715px;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

header div {
    z-index: 2;
    margin: 25px;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav img {
    width: 100px;
}

header nav .menu {
    flex-basis: 600px;
}

header nav ul {
    display: flex;
    justify-content: space-between;

}

.menu li {
    font-size: 18px;
    color: white;
    text-transform: uppercase;
}

.slogan {
    position: relative;
    margin: 200px auto;
}

.slogan p {
    text-transform: uppercase;
    font-size: 45px;
    color: white;
    font-weight: 100;
    line-height: 70px;
}

.slogan button {
    margin: 5px 10px 5px 0px;
}

.btn1 {
    color: white;
    background-color: orange;
}

.btn1:hover {
    background-color: rgb(255, 145, 0);
}

.btn2 {
    color: white;
    background-color: transparent;
}

.btn2:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.title {
    text-transform: uppercase;
    font-size: 40px; 
    font-weight: 100;
    padding-top: 60px;
    text-align: center;
}

.line {
    width: 9%;
    height: 2px;
    margin: 25px auto 25px auto;
    background-color: orange;
    border-radius: 25px;
}

.words {
    font-weight: 100;
    font-size: 20px;
    text-align: center;
}

.bcontainer {
    width: 70%;
    font-weight: 200;
    margin: 25px auto 50px auto;
    display: flex;
    justify-content: space-between;
}

.bcontainer div {
    width: 24%;
    line-height: 2;
}

.bcontainer .lg {
    font-size: 20px;
    text-transform: uppercase;
}

/* position: relative là cha */
.favourite-meals {
    display: flex;
    flex-wrap: wrap; 
    position: relative;  
}

/* before là tạo div ảo ở đầu tập hợp */
/* position: relative sẽ tìm thằng cha có relative gần nhất,
   nếu ko sẽ tìm body */
.favourite-meals::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.favourite-meals img {
    max-width: 25%;
}

/* how-it-works */
.how-it-works {
    min-height: 500px;
    background-color: rgba(231, 231, 231, 0.486);
}

.how-it-works .content {
    padding: 50px 0px;
    display: flex;
    justify-content: space-between;
}

.how-it-works .content .left  {
    display: flex;
    justify-content: flex-end;
    flex-basis: 45%;
}

.how-it-works .content .right {
    display: flex;
    justify-content: space-between;
    flex-basis: 45%;
    flex-direction: column;
    justify-content: center;

}

.how-it-works .content .left img {
    max-width: 200px;

}

.how-it-works .content .right span {
    font-size: 40px;
    color: orange;
    padding: 10px 25px;
    margin-right: 20px;
    border: 2px solid orange;
    border-radius: 50%;
}

.how-it-works .content .right p {
    display: inline-block;
    font-size: 20px;
    font-weight: 200;
    margin: 20px 0px;
    line-height: 1.5;
}

.how-it-works .content .bot {
    display: flex;
    align-items: flex-end;
    
}

.how-it-works .content .bot img {
    width: 135px;
    height: 40px;
    margin-right: 10px;
}

/* cities */
.cities-list {
    display: flex;
    justify-content: space-between;
}

.cities-list .cities-item {
    max-width: 23%;
}

.cities-item img {
    width: 100%;
}

.cities-item p {
    text-transform: uppercase;
    font-size: 20px;
}

.cities-item i {
    color: orange;
}

.cities-item {
    margin-top: 50px;
    line-height: 2;
    font-weight: 200;
}